repos:
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
    - id: trailing-whitespace
    - id: check-added-large-files
      args: ['--maxkb=50000']
    - id: end-of-file-fixer
    - id: check-merge-conflict
    - id: check-yaml
    - id: mixed-line-ending
      args: ['--fix=lf']

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 0.8.1
    hooks:
      - id: nbqa-isort
        name: Format notebooks; sort imports by isort
        files: notebooks
        args: [--nbqa-mutate]

      - id: nbqa-black
        name: Format notebooks; reformat by black
        files: notebooks
        args: [--nbqa-mutate]

      - id: nbqa-pyupgrade
        files: notebooks
        name: Format notebooks; upgrade syntax to Python 3.6+ by pyupgrade
        args: [--nbqa-mutate]
